<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="StartStatus" value="Start"/>
		<add key="StopStatus" value="Stop"/>
		<add key="AutoRenewButtonContentWhenStart" value="Stop"/>
		<add key="AutoRenewButtonContentWhenStop" value="Start"/>
		<add key="AutoStartRenewer" value="true"/>
		<add key="AutoRestartRenewer" value="true"/>
		<add key="RestartRenewerAfter" value="3"/>
		<add key="RenewInterval" value="5"/>
	</appSettings>
</configuration>